body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

#header {
    margin-top: 80px ;
    background-color: #8492e0;
    color: white;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

h1, h2 {
    margin: 0;
}

.trip-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}

.trip-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    margin-bottom: 30px;
    overflow: hidden;
    width: calc(33.333% - 20px);
    transition: transform 0.3s ease;
}

.trip-card:hover {
    transform: translateY(-5px);
}

.trip-image {
    height: 200px;
    background-size: cover;
    background-position: center;
}

.trip-details {
    padding: 20px;
}

.trip-title {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #e47bae;
}

.trip-description {
    font-size: 0.9em;
    margin-bottom: 15px;
}

.apply-btn {
    background-color: #8492e0;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.apply-btn:hover {
    background-color:#e74ab8 ;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input, select {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button[type="submit"] {
    background-color: #8492e0;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #8492e0;
}

#customTripSection {
    background-color: #f4f4f4;
    padding: 20px;
    margin-top: 30px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

#customTripSection h2 {
    margin-bottom: 20px;
    color: #333;
}

#customTripForm {
    display: flex;
    flex-direction: column;
}

#customTripForm label {
    margin-top: 10px;
}

#customTripForm input, 
#customTripForm select, 
#customTripForm textarea {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#customTripForm button[type="submit"] {
    background-color: #8492e0;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#customTripForm button[type="submit"]:hover {
    background-color: #8492e0;
}

.map-container {
    margin-top: 30px;
    height: 400px;
    width: 80%; /* Change this value as needed */
    max-width: 1000px; /* Optional: limit the maximum width */
    margin-left: auto;
    margin-right: auto; /* Center the map */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}
