body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.map{
    position: relative;
    width: 80%; 
    max-width: 1200px; 
    margin: 100px auto 0;
}
.map img{
    width: 100%;
    height: auto;
    display: block;
}

.section1{
    margin: 50px 0;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: rgba(97, 151, 233, 0.6);
    margin-left: 20%;
    border-radius: 10px;
    display: flex;
    gap: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.section2{
    margin: 50px 0;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: rgba(97, 151, 233, 0.6);
    margin-right: 20%;
    border-radius: 10px;
    display: flex;
    gap: 20px; 
    direction: rtl;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.section1 img, .section2 img {
    max-width: 30%;
    height: auto;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 10px 10px;
}

.section1 img{
    align-self: center;
}

.section2 img{
    align-self: center;
}


#backToTopBtn {

    display: none; 
    position: fixed;
    z-index: 99;
    font-size: 50px; 
    border: none;
    outline: none;
  
    background-color: #f750e9; 
    border-radius: 10px; 
  
    /* Other Styles */
    position: fixed; /* Stays in place */
    bottom: 20px; 
    right: 20px;
    opacity: 0.9; /* Slightly transparent */
    transition: all 0.3s ease; /* Smooth transitions */
  }
  
  #backToTopBtn:hover {
    transform: scale(1.2); /* Enlarge on hover */
    opacity: 1; /* Fully opaque on hover */
  }

.paragraph{
    background-color: #ececec;
    border-radius: 5px;
    transition: all 0.3s ease;
    padding-left: 10px;
    padding-right: 10px;
}

.paragraph:hover{
    background-color: white;
    transform: scale(1.05);
}

p{
    font-size: 22px;
    line-height: 1.6;
    margin-bottom: 15px;
}

h2{
    font-size: 36px;
    font-weight: bolder;
    color: #333;
    font-family: "Sriracha", cursive;
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;
}

.bottom{
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    margin-top: 90px;
    text-align: center;
}


.more_links a::before{
    content: "✈️"; /* Link icon before the text */
    position: absolute;
    left: -30px;
    font-size: 1.5em;
    opacity: 0;
    transition: left 0.3s ease, opacity 0.3s ease;
}

.clickmap{
    text-align: center;
    margin-bottom: 100px;
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}

@media (max-width:1100px){
    .section1,.section2{
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 50px auto;
        width: 80%;
    }

    .section1 img, .section2 img{
        display: none;
    }

    h2{
        margin-bottom: 20px;
    }

 
}

  
