.sec{
    width: 45%;
    margin: 1% 1%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    margin-top: 90px;
    float: left;
    
}

.img{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.img img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Adds a box-shadow to the image */
    animation: fadeIn 2s ease-in-out; /* Applies the animation */
}



.sec h1{
    text-align: center;
    color: #2742dd;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}


.describe {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    max-width: 600px; 
    margin: 20px auto; 
    font-family: 'Kanit', sans-serif; 
    color: #333; 
    line-height: 1.6; 
    text-align: center; 
}

.describe p {
    margin: 15px 0; 
    font-size: 1.2em; /
}

.describe p:first-of-type {
    font-weight: 300; 
}

.describe p:last-of-type {
    font-weight: 600; 
    color: #ff5722; 
}

.describe:hover {
    background-color: rgba(255, 255, 255, 1); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
    transform: scale(1.02); 
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease; 
}


.more_links a::before{
    content: "✈️"; /* Link icon before the text */
    position: absolute;
    left: -30px;
    font-size: 1.5em;
    opacity: 0;
    transition: left 0.3s ease, opacity 0.3s ease;
}
@media screen and (max-width: 1350px) {
    .sec{
        width: 95%; 
        margin: 90px auto; 
        float: none; 
    }

    .describe{
        max-width: 100%; 
        padding: 15px; 
    }

    .more_links{
        align-items: center;
        flex-direction: column;
        gap: 10px; 
    }

    .more_links a{
        width: 20%; 
        text-align: center; 
        font-size: 1em; 
    }
}